examples/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="PhysiCell_settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" type="DomainType"/>
        <xs:element name="overall" type="OverallType"/>
        <xs:element name="parallel" type="ParallelType"/>
        <xs:element name="save" type="SaveType"/>
        <xs:element name="options" type="OptionsType"/>
        <xs:element name="microenvironment_setup" type="MicroenvironmentSetupType"/>
        <xs:element name="cell_definitions" type="CellDefinitionsType"/>
        <xs:element name="initial_conditions" type="InitialConditionsType"/>
        <xs:element name="cell_rules" type="CellRulesType"/>
        <xs:element name="user_parameters" type="UserParametersType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- ==================== DOMAIN ==================== -->
  <xs:complexType name="DomainType">
    <xs:all>
      <xs:element name="x_min" type="xs:double"/>
      <xs:element name="x_max" type="xs:double"/>
      <xs:element name="y_min" type="xs:double"/>
      <xs:element name="y_max" type="xs:double"/>
      <xs:element name="z_min" type="xs:double"/>
      <xs:element name="z_max" type="xs:double"/>
      <xs:element name="dx" type="xs:double"/>
      <xs:element name="dy" type="xs:double"/>
      <xs:element name="dz" type="xs:double"/>
      <xs:element name="use_2D" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <!-- ==================== OVERALL ==================== -->
  <xs:complexType name="OverallType">
    <xs:all>
      <xs:element name="max_time" type="ValueWithUnits"/>
      <xs:element name="time_units" type="xs:string"/>
      <xs:element name="space_units" type="xs:string"/>
      <xs:element name="dt_diffusion" type="ValueWithUnits"/>
      <xs:element name="dt_mechanics" type="ValueWithUnits"/>
      <xs:element name="dt_phenotype" type="ValueWithUnits"/>
    </xs:all>
  </xs:complexType>

  <!-- ==================== PARALLEL ==================== -->
  <xs:complexType name="ParallelType">
    <xs:sequence>
      <xs:element name="omp_num_threads" type="xs:positiveInteger"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================== SAVE ==================== -->
  <xs:complexType name="SaveType">
    <xs:all>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="full_data" type="SaveIntervalType"/>
      <xs:element name="SVG" type="SVGSaveType"/>
      <xs:element name="legacy_data" type="EnabledFlagType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SaveIntervalType">
    <xs:all>
      <xs:element name="interval" type="ValueWithUnits"/>
      <xs:element name="enable" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SVGSaveType">
    <xs:all>
      <xs:element name="interval" type="ValueWithUnits"/>
      <xs:element name="enable" type="xs:boolean"/>
      <xs:element name="plot_substrate" type="PlotSubstrateType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="PlotSubstrateType">
    <xs:all>
      <xs:element name="substrate" type="xs:string"/>
      <xs:element name="colormap" type="xs:string" minOccurs="0"/>
      <xs:element name="min_conc" minOccurs="0">
        <xs:simpleType>
            <xs:union memberTypes="xs:double xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="max_conc" minOccurs="0">
        <xs:simpleType>
            <xs:union memberTypes="xs:double xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:all>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
    <xs:attribute name="limits" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="EnabledFlagType">
    <xs:sequence>
      <xs:element name="enable" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================== OPTIONS ==================== -->
  <xs:complexType name="OptionsType">
    <xs:all>
      <xs:element name="legacy_random_points_on_sphere_in_divide" type="xs:boolean"/>
      <xs:element name="virtual_wall_at_domain_edge" type="xs:boolean"/>
      <xs:element name="disable_automated_spring_adhesions" type="xs:boolean"/>
      <xs:element name="random_seed" type="xs:integer"/>
      <xs:element name="mechanics_voxel_size" type="xs:double" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ==================== MICROENVIRONMENT SETUP ==================== -->
  <xs:complexType name="MicroenvironmentSetupType">
    <xs:sequence>
      <xs:element name="variable" type="SubstrateVariableType" maxOccurs="unbounded"/>
      <xs:element name="options" type="MicroenvironmentOptionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstrateVariableType">
    <xs:all>
      <xs:element name="physical_parameter_set" type="PhysicalParameterSetType"/>
      <xs:element name="initial_condition" type="ValueWithUnits"/>
      <xs:element name="Dirichlet_boundary_condition" type="DirichletBCType"/>
      <xs:element name="Dirichlet_options" type="DirichletOptionsType" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="units" type="xs:string" use="optional"/>
    <xs:attribute name="ID" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PhysicalParameterSetType">
    <xs:all>
      <xs:element name="diffusion_coefficient" type="ValueWithUnits"/>
      <xs:element name="decay_rate" type="ValueWithUnits"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="DirichletBCType">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="units" type="xs:string" use="optional"/>
        <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DirichletOptionsType">
    <xs:sequence>
      <xs:element name="boundary_value" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="ID" type="xs:string" use="required"/>
              <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MicroenvironmentOptionsType">
    <xs:all>
      <xs:element name="calculate_gradients" type="xs:boolean"/>
      <xs:element name="track_internalized_substrates_in_each_agent" type="xs:boolean"/>
      <xs:element name="initial_condition" type="MatFileRefType"/>
      <xs:element name="dirichlet_nodes" type="MatFileRefType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="MatFileRefType">
    <xs:sequence>
      <xs:element name="filename" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ==================== CELL DEFINITIONS ==================== -->
  <xs:complexType name="CellDefinitionsType">
    <xs:sequence>
      <xs:element name="cell_definition" type="CellDefinitionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellDefinitionType">
    <xs:all>
      <xs:element name="phenotype" type="PhenotypeType"/>
      <xs:element name="custom_data" type="CustomDataType" minOccurs="0"/>
      <xs:element name="initial_parameter_distributions" type="InitialParameterDistributionsType" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="ID" type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

  <!-- Phenotype -->
  <xs:complexType name="PhenotypeType">
    <xs:all>
      <xs:element name="cycle" type="CycleType"/>
      <xs:element name="death" type="DeathType"/>
      <xs:element name="volume" type="VolumeType"/>
      <xs:element name="mechanics" type="MechanicsType"/>
      <xs:element name="motility" type="MotilityType"/>
      <xs:element name="secretion" type="SecretionType"/>
      <xs:element name="cell_interactions" type="CellInteractionsType"/>
      <xs:element name="cell_transformations" type="CellTransformationsType"/>
      <xs:element name="cell_integrity" type="CellIntegrityType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- Cycle -->
  <xs:complexType name="CycleType">
    <xs:all>
      <xs:element name="phase_durations" type="PhaseDurationsType"/>
      <xs:element name="standard_asymmetric_division" type="AsymmetricDivisionType" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="code" type="xs:integer" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PhaseDurationsType">
    <xs:sequence>
      <xs:element name="duration" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="index" type="xs:nonNegativeInteger" use="required"/>
              <xs:attribute name="fixed_duration" type="xs:boolean" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="units" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AsymmetricDivisionType">
    <xs:sequence>
      <xs:element name="asymmetric_division_probability" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="units" type="xs:string" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- Death -->
  <xs:complexType name="DeathType">
    <xs:sequence>
      <xs:element name="model" type="DeathModelType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeathModelType">
    <xs:all>
      <xs:element name="death_rate" type="ValueWithUnits"/>
      <xs:element name="phase_durations" type="PhaseDurationsType"/>
      <xs:element name="parameters" type="DeathParametersType"/>
    </xs:all>
    <xs:attribute name="code" type="xs:integer" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DeathParametersType">
    <xs:all>
      <xs:element name="unlysed_fluid_change_rate" type="ValueWithUnits"/>
      <xs:element name="lysed_fluid_change_rate" type="ValueWithUnits"/>
      <xs:element name="cytoplasmic_biomass_change_rate" type="ValueWithUnits"/>
      <xs:element name="nuclear_biomass_change_rate" type="ValueWithUnits"/>
      <xs:element name="calcification_rate" type="ValueWithUnits"/>
      <xs:element name="relative_rupture_volume" type="ValueWithUnits"/>
    </xs:all>
  </xs:complexType>

  <!-- Volume -->
  <xs:complexType name="VolumeType">
    <xs:all>
      <xs:element name="total" type="ValueWithUnits"/>
      <xs:element name="fluid_fraction" type="ValueWithUnits"/>
      <xs:element name="nuclear" type="ValueWithUnits"/>
      <xs:element name="fluid_change_rate" type="ValueWithUnits"/>
      <xs:element name="cytoplasmic_biomass_change_rate" type="ValueWithUnits"/>
      <xs:element name="nuclear_biomass_change_rate" type="ValueWithUnits"/>
      <xs:element name="calcified_fraction" type="ValueWithUnits"/>
      <xs:element name="calcification_rate" type="ValueWithUnits"/>
      <xs:element name="relative_rupture_volume" type="ValueWithUnits"/>
    </xs:all>
  </xs:complexType>

  <!-- Mechanics -->
  <xs:complexType name="MechanicsType">
    <xs:all>
      <xs:element name="cell_cell_adhesion_strength" type="ValueWithUnits"/>
      <xs:element name="cell_cell_repulsion_strength" type="ValueWithUnits"/>
      <xs:element name="relative_maximum_adhesion_distance" type="ValueWithUnits"/>
      <xs:element name="cell_adhesion_affinities" type="CellAdhesionAffinitiesType"/>
      <xs:element name="options" type="MechanicsOptionsType"/>
      <xs:element name="attachment_elastic_constant" type="ValueWithUnits"/>
      <xs:element name="attachment_rate" type="ValueWithUnits"/>
      <xs:element name="detachment_rate" type="ValueWithUnits"/>
      <xs:element name="maximum_number_of_attachments" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CellAdhesionAffinitiesType">
    <xs:sequence>
      <xs:element name="cell_adhesion_affinity" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MechanicsOptionsType">
    <xs:all>
      <xs:element name="set_relative_equilibrium_distance" type="EquilibriumDistanceType"/>
      <xs:element name="set_absolute_equilibrium_distance" type="EquilibriumDistanceType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EquilibriumDistanceType">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
        <xs:attribute name="units" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Motility -->
  <xs:complexType name="MotilityType">
    <xs:all>
      <xs:element name="speed" type="ValueWithUnits"/>
      <xs:element name="persistence_time" type="ValueWithUnits"/>
      <xs:element name="migration_bias" type="ValueWithUnits"/>
      <xs:element name="options" type="MotilityOptionsType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="MotilityOptionsType">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="use_2D" type="xs:boolean"/>
      <xs:element name="chemotaxis" type="ChemotaxisType"/>
      <xs:element name="advanced_chemotaxis" type="AdvancedChemotaxisType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ChemotaxisType">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="substrate" type="xs:string"/>
      <xs:element name="direction" type="xs:integer"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AdvancedChemotaxisType">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="normalize_each_gradient" type="xs:boolean"/>
      <xs:element name="chemotactic_sensitivities" type="ChemotacticSensitivitiesType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ChemotacticSensitivitiesType">
    <xs:sequence>
      <xs:element name="chemotactic_sensitivity" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:double">
              <xs:attribute name="substrate" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Secretion -->
  <xs:complexType name="SecretionType">
    <xs:sequence>
      <xs:element name="substrate" type="SubstrateSecretionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstrateSecretionType">
    <xs:all>
      <xs:element name="secretion_rate" type="ValueWithUnits"/>
      <xs:element name="secretion_target" type="ValueWithUnits"/>
      <xs:element name="uptake_rate" type="ValueWithUnits"/>
      <xs:element name="net_export_rate" type="ValueWithUnits"/>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Cell Interactions -->
  <xs:complexType name="CellInteractionsType">
    <xs:all>
      <xs:element name="apoptotic_phagocytosis_rate" type="ValueWithUnits"/>
      <xs:element name="necrotic_phagocytosis_rate" type="ValueWithUnits"/>
      <xs:element name="other_dead_phagocytosis_rate" type="ValueWithUnits"/>
      <xs:element name="live_phagocytosis_rates" type="NamedRatesType"/>
      <xs:element name="attack_rates" type="NamedRatesType"/>
      <xs:element name="attack_damage_rate" type="ValueWithUnits"/>
      <xs:element name="attack_duration" type="ValueWithUnits"/>
      <xs:element name="fusion_rates" type="NamedRatesType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="NamedRatesType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Cell Transformations -->
  <xs:complexType name="CellTransformationsType">
    <xs:sequence>
      <xs:element name="transformation_rates" type="NamedRatesType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Cell Integrity -->
  <xs:complexType name="CellIntegrityType">
    <xs:all>
      <xs:element name="damage_rate" type="ValueWithUnits"/>
      <xs:element name="damage_repair_rate" type="ValueWithUnits"/>
    </xs:all>
  </xs:complexType>

  <!-- Custom Data -->
  <xs:complexType name="CustomDataType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Initial Parameter Distributions -->
  <xs:complexType name="InitialParameterDistributionsType">
    <xs:sequence>
      <xs:element name="distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DistributionType">
    <xs:sequence>
      <xs:element name="behavior" type="xs:string"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="check_base" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ==================== INITIAL CONDITIONS ==================== -->
  <xs:complexType name="InitialConditionsType">
    <xs:sequence>
      <xs:element name="cell_positions" type="CellPositionsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellPositionsType">
    <xs:all>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
    </xs:all>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ==================== CELL RULES ==================== -->
  <xs:complexType name="CellRulesType">
    <xs:all>
      <xs:element name="rulesets" type="RulesetsType" minOccurs="0"/>
      <xs:element name="settings" type="xs:anyType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="RulesetsType">
    <xs:sequence>
      <xs:element name="ruleset" type="RulesetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RulesetType">
    <xs:all>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
    </xs:all>
    <xs:attribute name="protocol" type="xs:string" use="optional"/>
    <xs:attribute name="version" type="xs:string" use="optional"/>
    <xs:attribute name="format" type="xs:string" use="optional"/>
    <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ==================== USER PARAMETERS ==================== -->
  <xs:complexType name="UserParametersType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ==================== SHARED / REUSABLE TYPES ==================== -->

  <!-- Generic element that holds a double value plus optional units attribute -->
  <xs:complexType name="ValueWithUnits">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="units" type="xs:string" use="optional"/>
        <xs:attribute name="description" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
